.modal,
.modal-titlebar,
.modal-content,
.modal-map-container,
.modal-hours,
.modal-reviews {
  display: flex;
}

.modal {
  flex-direction: column;
  position: absolute;
  overflow: auto;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: rgb(240, 235, 235);
  border-radius: 5px;
  outline: none;
}

/* prevents scrolling behind modal */
.ReactModal__Body--open {
  overflow: hidden;
}

.modal-content {
  flex-direction: column;
  border-radius: inherit;
  max-height: 100%;
}

.modal-titlebar {
  background-color: #BFB2B2;
  flex-shrink: 0;
  min-width: calc(100% - (40px * 2));
  position: fixed;
  z-index: 999;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  flex-flow: row nowrap;
}

.modal-heading {
  align-self: center;
  margin-left: auto;
}

.modal-close-button::before {
  content: 'X';
}

.modal-close-button {
  flex-basis: content;
  margin-left: auto;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 3px 7px 1px 7px;
  font-size: 1.5em;
  background-size: 0;
}

.modal-close-button:hover,
.modal-close-button:focus {
  border-radius: 0 5px 0 0;
  background-color: var(--card-red);
  color: #fff;
}

.modal-map-container {
  overflow: hidden;
  margin-top: 20px;
  min-height: 300px;
  justify-content: center;
}

.modal-map {
  margin-top: 20px;
  display: block;
}

.modal-reviews-hours {
  display: flex;
  flex-direction: row;
}

.modal-hours {
  min-width: 45%;
}

.modal-reviews {
  flex-direction: column;
}

.modal-no-reviews {
  margin: 20px 0 0 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-error {
  margin: auto;
  line-height: 3em;
  text-align: center;
}
