.review,
.review-content,
.review-info
.detail-holder
.detail-holder li {
  display: flex;
}

.detail-holder {
  flex-direction: row;
}

.review-content {
  padding: 10px;
  flex-direction: column;
  align-content: flex-end;
}

.review-text {
  line-height: 1.4em;
}

.dv-star-rating {
  font-size: 1.25em;
  position: relative;
}
